
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLoginCadastro.cshtml";
}

<form action="~/Autenticacao/logar" method="post" class="form-signin">
    <input type="hidden" name="usu.UrlRetorno" value="@ViewBag.returnUrl" />
    <img class="mb-4" src="~/Content/Imagens/Logo.png" alt="" width="270" height="100">
    <label for="inputEmail" class="sr-only">Nick</label>
    <input type="text" id="inputEmail" class="form-control mb-3" style="margin-bottom: 1rem;" name="usu.Nick" placeholder="Nick" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control mb-3" name="usu.Senha" placeholder="Senha" required>
    <p class="text-danger">@ViewBag.erroLogin</p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <div style="text-align: center;"><span>Ainda não tem cadastro?</span><br /><a href="~/Autenticacao/Cadastrar">Cadastre-se!</a></div>

</form>