html, body, .container-fluid, .row {
    height: 100%;
}
.main-wrapper{
    height: 100%;

}
.background-azulsec {
    background-color: rgb(41, 169, 225);
    color: white;
}
.color-azulsec {
   color: rgb(41, 169, 225);
}
.grupo-perfil{
    margin-bottom: 1rem;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 3rem;
    font-size: 14px;
    line-height: 50px;
    border-radius: 25px;
    background-color: white;
    color: black;
    margin: 0.5rem;
}
.close-pref {
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    right: -0.7rem;
}
.grupo-fim {
    position: absolute;
    bottom: 1rem;
    left: 20%;
    width: 60%;
}
.card{
    margin-top: 1rem;
}