<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2deb8037-7ab0-4a93-8fb3-eb198d21d7d2/resourceGroups/projetosec/providers/Microsoft.Web/sites/projetosec</ResourceId>
    <ResourceGroup>projetosec</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://projetosec.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>projetosec.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>projetosec</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$projetosec</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SecContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:sec.database.windows.net,1433;Initial Catalog=sec;Persist Security Info=False;User ID=secadm;Password=MARIANE1!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:sec.database.windows.net,1433;Initial Catalog=sec;Persist Security Info=False;User ID=secadm;Password=MARIANE1!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="sec.Models.SecContext, sec" MigrationConfiguration="sec.Migrations.Configuration, sec" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SecContext-Web.config Connection String">
      <ParameterValue>Server=tcp:sec.database.windows.net,1433;Initial Catalog=sec;Persist Security Info=False;User ID=secadm;Password=MARIANE1!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>